#### Find your Spark installation

In [1]:
import findspark
findspark.init('C:\spark-3.0.0-bin-hadoop2.7')

#### import Spark SQL and start session

In [2]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("my_first_spark_app") \
    .getOrCreate()

#### Load data from file

In [5]:
df = spark.read.csv("data.csv",header=True)

In [6]:
#shows the data (like head())  - this is an action so forces evaluation of pervious commands
df.show()

+---+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----+
|_c0| ID|                T1|            T1_AVE|            T1_AVW|            T1_SDW|                T2|            T2_AVE|            T2_AVW|            T2_SDW|                T3|            T3_AVE|            T3_AVW|            T3_SDW|              Tamb|          Tamb_AVE|          Tamb_AVW|           Tamb_SDW|Time|
+---+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----+
|  0|  4|  43.8573662769241| 40.38169618400899| 42.44490015789554|3.2742982184726226|58.243102904616514| 53.85673065531517|56.689390173685105|3.6017280403198857| 21.92868313846205|20.190848092004494| 21.22245007894777|1.6371491092363113|22.363814463526563| 21.09520272914085|22.339898842940038|0.07557386772083732| 5.0|
|  1|  9|37.882876559554305|41.239148412963786| 44.50221875638083| 5.992723880252694| 51.67116421550974| 54.61221639146721| 58.95244063201892| 6.591996268277963|18.941438279777152|20.619574206481893|22.251109378190414| 2.996361940126347|22.404938562466597|20.626255218911677|22.261595423867966| 0.2138992484714095| 5.0|
|  2|  4| 38.41194190968819| 39.88925761542879|42.275942950310665|3.4307159068329125| 52.25313610065701|53.455832016650625|56.503537245341725| 3.773787497516205|19.205970954844094|19.944628807714395|21.137971475155332|1.7153579534164562| 22.36281190966056| 21.41210502427078| 22.34661105979048|0.07431966107188236| 6.0|
|  3|  1|  90.9423027355245|  84.0115141981461| 90.71674685403457| 5.583623272242371|110.03653300907696|101.66181875516776|109.78842153943803| 6.141985599466607| 45.47115136776225| 42.00575709907305|45.358373427017284|2.7918116361211855|22.262951119247585|20.562510760320816|22.157604478468592|0.18265669593716305| 4.0|
|  4|  3| 56.49196636149587| 53.35789020911558| 58.25595967608859| 2.600511916482278| 72.14116299764547| 67.94283236723419| 74.08155564369744| 2.860563108130505|228.24598318074794| 211.6620078486984|229.12797983804427|1.3002559582411408| 22.30136947411254|20.681726272169136|22.329182318270924| 0.1892961319390751| 7.0|
|  5|  0| 71.36395779327239|61.527139415520324| 71.89521771792504| 4.317533651335631| 88.50035357259964| 76.34501448988487| 89.08473948971755| 4.749287016469199|35.681978896636195|30.763569707760162| 35.94760885896252|2.1587668256678154| 22.19292634891484|19.205063219232166| 22.14282607185888| 0.2627612848991318| 4.0|
|  6|  2| 47.48799866959746| 45.00996957631553|47.829859147021665| 3.506770212574632| 62.23679853655721|58.947831386852364| 62.61284506172384|3.8574472338320938| 23.74399933479873|22.504984788157763|23.914929573510832| 1.753385106287316|22.430243966395103|21.088534065713098| 22.28160708904418| 0.1880511443702402| 6.0|
|  7| 10|28.926025635241153|26.294914330413164|25.364046142683545|5.6526452633550885| 41.81862819876527| 38.68683312327389|  37.9004507569519| 6.217909789690599|214.46301281762058| 208.3960043615948|212.68202307134175| 2.826322631677543| 22.22616260464593| 21.63715109294784| 22.06075449522631|0.21598518809098358| 4.0|
|  8|  4|  36.7599846666297|39.106939378229015| 41.48602225334707|3.6905865488733904| 50.43598313329267| 52.70086979581114| 55.63462447868178| 4.059645203760731| 18.37999233331485|19.553469689114507|20.743011126673537|1.8452932744366952|22.390337535477844|21.656663152072547|22.349207949013856|0.07534145922925621| 6.0|
|  9|  6| 42.24746815536587|29.868711878510027| 43.32922411842538|3.6069782429861332| 56.47221497090246| 39.69152056636103| 57.66214653026792| 3.967676067284747|21.123734077682936|14.934355939255013| 21.66461205921269|1.8034891214930666| 22.14580547586811| 15.15113674732203| 22.17587798100643|0.21355936132976938| 2.0|
| 10|  0| 70.89317997944246| 63.86864955650086| 71.76996300061471| 4.052256277195837| 87.98249797738671| 79.25438536176034|  88.9469593006762| 4.457481904915424| 35.44658998972123| 31.93432477825043|35.884981500307354|2.0261281385979184|22.373142865959817|19.997083130914078|  22.1716156711215| 0.2573226445855998| 5.0|
| 11| 10| 19.40738416609458| 24.57303178933352|25.889466624191773| 4.759848795835516| 31.34812258270404| 36.85215548813143| 38.47841328661095| 5.235833675419069| 209.7036920830473|208.72292629195792|212.94473331209588| 2.379924397917759|22.118359096743035|21.757453093896636|22.086965511769378|0.20521247654781752| 4.0|
| 12|  3|57.415467753203195| 54.37228459513749| 58.17191048380005| 2.479914193174615| 73.15701452852352| 69.24637790755652| 73.98910153218006|2.7279056124920755| 228.7077338766016| 215.9234393556742|    229.0859552419|1.2399570965873088| 22.60645965097412|21.162909616870383|22.356910051541245|0.19791202020386725| 7.0|
| 13|  7|31.287667443884487|27.240257584812866| 30.85443263260509|2.8121714035790455| 44.41643418827294|38.629444476106656|43.939875895865605|3.0933885439369515|15.643833721942244|13.620128792406433|15.427216316302545|1.4060857017895227|22.083697380844537|19.202020610493964| 22.17078287619268| 0.2566917115024085| 4.0|
| 14|  8| 53.05710477321884| 41.08110808324003|50.843172765284265|  5.21658287648961| 68.36281525054073| 53.40943373531404|  65.9274900418127| 5.738241164138571| 26.52855238660942|20.540554041620016|25.421586382642133| 2.608291438244805| 21.93164173340663| 18.20991110784567|22.124863322197125|0.23943198701515658| 5.0|
| 15|  7|30.423907666098067| 28.03617010513417|30.800617011791708| 2.634396012376267| 43.46629843270787| 39.83865796525696|43.880678712970884| 2.897835613613895|15.211953833049034|14.018085052567084|15.400308505895854|1.3171980061881334|22.000318587095276|19.901595104644294|  22.1494748400555| 0.2466425191201698| 4.0|
| 16|  0| 71.42794134081058| 65.75847250257829|  71.7319605939698| 3.822015591836364| 88.57073547489163| 81.58347289004317|  88.9051566533668|4.2042171510200035| 35.71397067040529| 32.87923625128914|  35.8659802969849| 1.911007795918182|22.272482589156997|20.565932995474807|22.182823106458777|0.24466830676667403| 5.0|
| 17|  7|31.524405444397686|28.908228939950046| 30.88103794874793| 2.494126450315215| 44.67684598883746| 41.04820497115208| 43.96914174362272| 2.743539095346738|15.762202722198843|14.454114469975023|15.440518974373965|1.2470632251576075|22.390122788271285| 20.52372702555104|22.176213500968363|0.24452609244943233| 4.0|
| 18| 10| 35.21871186780752|27.234451808952016| 26.78721984441058|  5.52641938238542| 48.74058305458828| 39.82426237974564| 39.46594182885164| 6.079061320623964|217.60935593390377|210.94453370244437|213.39360992220526|2.7632096911927135|22.195764807371773|21.867031022265422| 22.12671459628388|0.18270637209953816| 5.0|
| 19|  6| 46.83785099973124| 34.11099665881533| 44.03094949468655| 3.518225071119782| 61.52163609970437| 45.14904944969686| 58.43404444415521|3.8700475782317616| 23.41892549986562|17.055498329407666|22.015474747343276| 1.759112535559891| 21.94931554355727| 16.85068144638084|  22.1305654935166|0.21142130152689975| 2.0|
+---+---+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----+

In [29]:
# Print the schema
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Relative_Compactness: string (nullable = true)
 |-- Surface_Area: string (nullable = true)
 |-- Wall_Area: string (nullable = true)
 |-- Roof_Area: string (nullable = true)
 |-- Overall_Height: string (nullable = true)
 |-- Orientation: string (nullable = true)
 |-- Glazing_Area: string (nullable = true)
 |-- Cooling_Load: string (nullable = true)

In [30]:
#add a new column
df = df.withColumn('Wall2', df.Wall_Area + 2)

### Columns are strings, but we need to convert to numbers

In [31]:
#import double type from spark sql
from pyspark.sql.types import FloatType

#convert one column
df = df.withColumn("Wall_Area", df["Wall_Area"].cast(FloatType()))

#convert all columns
for col_name in df.columns:
    df = df.withColumn(col_name, df[col_name].cast(FloatType()))

In [32]:
df.printSchema()

root
 |-- _c0: float (nullable = true)
 |-- Relative_Compactness: float (nullable = true)
 |-- Surface_Area: float (nullable = true)
 |-- Wall_Area: float (nullable = true)
 |-- Roof_Area: float (nullable = true)
 |-- Overall_Height: float (nullable = true)
 |-- Orientation: float (nullable = true)
 |-- Glazing_Area: float (nullable = true)
 |-- Cooling_Load: float (nullable = true)
 |-- Wall2: float (nullable = true)

In [33]:
df = df.dropna()

### some built-in functions

In [34]:
#select columns
df2 = df.select(df['Orientation'], df['Roof_area'])

In [35]:
#filter roof areas
df2 = df2.filter(df2['Roof_area'] > 200)

### Aggregating functions

In [36]:
#calculate mean roof area for each orientation
df2 = df2.groupBy("Orientation").agg({'Roof_area': 'mean'})

In [37]:
#only when we called show() - an action - will the previous transformations be executed
df2.show()

+-----------+--------------+
|Orientation|avg(Roof_area)|
+-----------+--------------+
|        5.0|         220.5|
|        2.0|         220.5|
|        3.0|         220.5|
|        4.0|         220.5|
+-----------+--------------+

### User-defined function

In [38]:
from pyspark.sql.functions import udf

#define a python function
def square_float(x):
    return float(x**2)

#register a spark udf to use python function
square_udf = udf(lambda z: square_float(z), FloatType())

In [39]:
# create new column 'wall_area2 with result of udf
df3 = df.withColumn("Wall_Area2", square_udf(df.Wall_Area))

In [40]:
df3.show()

+----+--------------------+------------+---------+---------+--------------+-----------+------------+------------+-----+----------+
| _c0|Relative_Compactness|Surface_Area|Wall_Area|Roof_Area|Overall_Height|Orientation|Glazing_Area|Cooling_Load|Wall2|Wall_Area2|
+----+--------------------+------------+---------+---------+--------------+-----------+------------+------------+-----+----------+
| 1.0|                0.98|       514.5|    294.0|   110.25|           7.0|        2.0|         0.0|       21.33|296.0|   86436.0|
| 2.0|                0.98|       514.5|    294.0|   110.25|           7.0|        3.0|         0.0|       21.33|296.0|   86436.0|
| 3.0|                0.98|       514.5|    294.0|   110.25|           7.0|        4.0|         0.0|       21.33|296.0|   86436.0|
| 4.0|                0.98|       514.5|    294.0|   110.25|           7.0|        5.0|         0.0|       21.33|296.0|   86436.0|
| 5.0|                 0.9|       563.5|    318.5|    122.5|           7.0|        2.0|         0.0|       28.28|320.5| 101442.25|
| 6.0|                 0.9|       563.5|    318.5|    122.5|           7.0|        3.0|         0.0|       25.38|320.5| 101442.25|
| 7.0|                 0.9|       563.5|    318.5|    122.5|           7.0|        4.0|         0.0|       25.16|320.5| 101442.25|
| 8.0|                 0.9|       563.5|    318.5|    122.5|           7.0|        5.0|         0.0|        29.6|320.5| 101442.25|
| 9.0|                0.86|       588.0|    294.0|    147.0|           7.0|        2.0|         0.0|        27.3|296.0|   86436.0|
|10.0|                0.86|       588.0|    294.0|    147.0|           7.0|        3.0|         0.0|       21.97|296.0|   86436.0|
|11.0|                0.86|       588.0|    294.0|    147.0|           7.0|        4.0|         0.0|       23.49|296.0|   86436.0|
|12.0|                0.86|       588.0|    294.0|    147.0|           7.0|        5.0|         0.0|       27.87|296.0|   86436.0|
|13.0|                0.82|       612.5|    318.5|    147.0|           7.0|        2.0|         0.0|       23.77|320.5| 101442.25|
|14.0|                0.82|       612.5|    318.5|    147.0|           7.0|        3.0|         0.0|       21.46|320.5| 101442.25|
|15.0|                0.82|       612.5|    318.5|    147.0|           7.0|        4.0|         0.0|       21.16|320.5| 101442.25|
|16.0|                0.82|       612.5|    318.5|    147.0|           7.0|        5.0|         0.0|       24.93|320.5| 101442.25|
|17.0|                0.79|       637.0|    343.0|    147.0|           7.0|        2.0|         0.0|       37.73|345.0|  117649.0|
|18.0|                0.79|       637.0|    343.0|    147.0|           7.0|        3.0|         0.0|       31.27|345.0|  117649.0|
|19.0|                0.79|       637.0|    343.0|    147.0|           7.0|        4.0|         0.0|       30.93|345.0|  117649.0|
|20.0|                0.79|       637.0|    343.0|    147.0|           7.0|        5.0|         0.0|       39.44|345.0|  117649.0|
+----+--------------------+------------+---------+---------+--------------+-----------+------------+------------+-----+----------+
only showing top 20 rows

### SQL

In [41]:
#register spark df as SQL temporary view
df.createOrReplaceTempView("energy")

In [42]:
#execute a SQL query
df_SQL = spark.sql("SELECT * FROM energy WHERE Roof_area > 200")

In [43]:
#show result - only now will the SQL query be executed
df_SQL.show()

+----+--------------------+------------+---------+---------+--------------+-----------+------------+------------+-----+
| _c0|Relative_Compactness|Surface_Area|Wall_Area|Roof_Area|Overall_Height|Orientation|Glazing_Area|Cooling_Load|Wall2|
+----+--------------------+------------+---------+---------+--------------+-----------+------------+------------+-----+
|25.0|                0.74|       686.0|    245.0|    220.5|           3.5|        2.0|         0.0|        10.9|247.0|
|26.0|                0.74|       686.0|    245.0|    220.5|           3.5|        3.0|         0.0|       11.19|247.0|
|27.0|                0.74|       686.0|    245.0|    220.5|           3.5|        4.0|         0.0|       10.94|247.0|
|28.0|                0.74|       686.0|    245.0|    220.5|           3.5|        5.0|         0.0|       11.17|247.0|
|29.0|                0.71|       710.5|    269.5|    220.5|           3.5|        2.0|         0.0|       11.27|271.5|
|30.0|                0.71|       710.5|    269.5|    220.5|           3.5|        3.0|         0.0|       11.72|271.5|
|31.0|                0.71|       710.5|    269.5|    220.5|           3.5|        4.0|         0.0|       11.29|271.5|
|32.0|                0.71|       710.5|    269.5|    220.5|           3.5|        5.0|         0.0|       11.67|271.5|
|33.0|                0.69|       735.0|    294.0|    220.5|           3.5|        2.0|         0.0|       11.74|296.0|
|34.0|                0.69|       735.0|    294.0|    220.5|           3.5|        3.0|         0.0|       12.05|296.0|
|35.0|                0.69|       735.0|    294.0|    220.5|           3.5|        4.0|         0.0|       11.73|296.0|
|36.0|                0.69|       735.0|    294.0|    220.5|           3.5|        5.0|         0.0|       11.93|296.0|
|37.0|                0.66|       759.5|    318.5|    220.5|           3.5|        2.0|         0.0|        12.4|320.5|
|38.0|                0.66|       759.5|    318.5|    220.5|           3.5|        3.0|         0.0|       12.23|320.5|
|39.0|                0.66|       759.5|    318.5|    220.5|           3.5|        4.0|         0.0|        12.4|320.5|
|40.0|                0.66|       759.5|    318.5|    220.5|           3.5|        5.0|         0.0|       12.14|320.5|
|41.0|                0.64|       784.0|    343.0|    220.5|           3.5|        2.0|         0.0|       16.78|345.0|
|42.0|                0.64|       784.0|    343.0|    220.5|           3.5|        3.0|         0.0|        16.8|345.0|
|43.0|                0.64|       784.0|    343.0|    220.5|           3.5|        4.0|         0.0|       16.75|345.0|
|44.0|                0.64|       784.0|    343.0|    220.5|           3.5|        5.0|         0.0|       16.67|345.0|
+----+--------------------+------------+---------+---------+--------------+-----------+------------+------------+-----+
only showing top 20 rows

### Now we convert the result to a pandas dataframe. This action cause all the previous transformations (which have not yet been executed) to run beofre outputting the new pandas dataframe

In [44]:
df_pd = df2.toPandas()

### Alternately we could output the reuslt to a csv, this is also an action and will cause our transformation to be executed

In [45]:
#this will write each partition of the data into a single csv ina folder called 'energy_data2'
df2.write.csv("energy_data2")

In [46]:
#this will combine all partitioninto one file, and write a single csv in the folder call 'energy_data2_single'
#beware if you are writing a large file - 
# all the data willbe sent to a single executor and might crash your spark sessiom

df2.coalesce(1).write.csv("energy_data2_single")

### END

In [47]:
spark.stop()